APP_PASSWORD=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_COCKPIT_KEY=
NEXT_PUBLIC_PRIVATE_HEALTH_CURRENT=
NEXT_PUBLIC_PRIVATE_HEALTH_TARGET=
NEXT_PUBLIC_PRIVATE_FINANCE_CURRENT=
NEXT_PUBLIC_PRIVATE_FINANCE_TARGET=
NEXT_PUBLIC_PRIVATE_FINANCE_AGE1=
NEXT_PUBLIC_PRIVATE_FINANCE_TARGET1=
NEXT_PUBLIC_PRIVATE_FINANCE_DETAIL1=
NEXT_PUBLIC_PRIVATE_FINANCE_AGE2=
NEXT_PUBLIC_PRIVATE_FINANCE_TARGET2=
NEXT_PUBLIC_PRIVATE_FINANCE_DETAIL2=
NEXT_PUBLIC_PRIVATE_FINANCE_AGE3=
NEXT_PUBLIC_PRIVATE_FINANCE_TARGET3=
NEXT_PUBLIC_PRIVATE_FINANCE_DETAIL3=
NEXT_PUBLIC_PRIVATE_HEALTH_METRIC1=
NEXT_PUBLIC_PRIVATE_HEALTH_CURRENT1=
NEXT_PUBLIC_PRIVATE_HEALTH_TARGET1=
NEXT_PUBLIC_PRIVATE_HEALTH_DETAIL1=
NEXT_PUBLIC_PRIVATE_HEALTH_METRIC2=
NEXT_PUBLIC_PRIVATE_HEALTH_CURRENT2=
NEXT_PUBLIC_PRIVATE_HEALTH_TARGET2=
NEXT_PUBLIC_PRIVATE_HEALTH_DETAIL2=
NEXT_PUBLIC_PRIVATE_HEALTH_METRIC3=
NEXT_PUBLIC_PRIVATE_HEALTH_CURRENT3=
NEXT_PUBLIC_PRIVATE_HEALTH_TARGET3=
NEXT_PUBLIC_PRIVATE_HEALTH_DETAIL3=
NEXT_PUBLIC_PRIVATE_HEALTH_METRIC4=
NEXT_PUBLIC_PRIVATE_HEALTH_CURRENT4=
NEXT_PUBLIC_PRIVATE_HEALTH_TARGET4=
NEXT_PUBLIC_PRIVATE_HEALTH_DETAIL4=
